body{
    overflow-x: scroll;
    overflow-y: scroll;
}
:root,body,html{
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;


}
div,h1,h2,h3,h4,h5,h6,header,html,i,img,label,li,nav,p,span,ul{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    vertical-align: baseline;
    font-size: 100%;

}

button:focus{
outline: none;
border: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

